---
# .github/workflows/deploy.yml
name: Deploy pages
concurrency: deploy-${{ github.ref }}
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install pandoc
        uses: pandoc/actions/setup@v1.1.1
        with:
          version: 3.8.2

      - uses: actions/checkout@v6.0.1

      - name: Build
        run: make

      - uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          folder: .
          branch: gh-pages
          clean-exclude: pr-preview
          force: false
